header {
  height: 100vh;
  padding-top: 3rem;
  
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ------ CTA ---------------*/
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* -----------------HEADER SOCIALS---------*/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 3rem;
  left: 0;
  
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* -----------------IMAGE---------*/
.img11 {
  background: linear-gradient(var(--color-white), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 6rem 6rem;
  padding: 1.5rem;
}

/* -----------------SCROLL DOWN---------*/
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* --------- MEDIUM SCREEN --------- */
@media screen and (max-width: 1024px) {
  .header {
    height: 70vh;
  }
}

/* --------- SMALL SCREEN --------- */
@media screen and (max-width: 600px) {
  .header {
    height: 100vh;
  }

  .header__socials, .scroll__down {
    display: none;
  }
}